@media screen and (max-width:700px){
    header{
        height: 4.2rem;
    }
    .logo{
        height: 2.7rem;
        width: 2.7rem;
    }
    .navbar {
        width: 14rem;
        font-size: 0.85rem;
    }
    #home {
        flex-direction: column-reverse;
    }
    #intro{
        width: 90%;
    }
    #main-fline {
        font-size: 8vw;
    }
    #main-sline {
        font-size: 4vw;
    }
    #my-img{
        width: 100%;
    }
    #my-img img {
        width: 80%;
    }
    .section-title{
        font-size: 1.5rem;
        padding: 7%;
    }
    #about-me-text{
        font-size: 1rem;
    }
    /* .project {
        display: block;
    }
    .p-info{
        padding: 0;
    }
    .p-img {
        text-align: center;
    }
    .p-img img {
        margin-bottom: 1rem;
    }    */
    footer {
        height: 4.2rem;
    }
}

/* @media screen and (max-width : 450px){
    .p-img img {
        width: 15rem;
        height: 9rem;
    }
} */
@media screen and (max-width : 600px){
    .project{
        width: 100%;
        padding: 10%;
    }
    .p-title{
        font-size: 6vmin;
    }
    .p-link a {
        font-size: 5vmin;
    }
}