* {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: #cfffff;
}

/* header  */
header {
    display: flex;
    height: 5rem;
    background-color: #026c85;
    align-items: center;
    justify-content: space-between;
    padding: 0px 1rem;
    border-radius: 4rem;
    margin: 2rem 4%;
}

.logo {
    height: 3rem;
    width: 3rem;
}

.logo-img {
    width: 100%;
    height: 100%;
    background-image: url("../logo.jpg");
    /* background-color: rgb(207 255 255); */
    background-size: cover;
    border-radius: 50%;
}

.navbar {
    width: 30rem;
}

.nav-list {
    display: flex;
    list-style-type: none;
    justify-content: space-around;
}

.nav-list li a {
    color: #ffffff;
    text-decoration: none;
}

/* main  */
#home {
    /* height: 30rem; */
    width: 90%;
    border-radius: 25px;
    margin: 2rem 4%;
    display: flex;
}

#intro{
    width: 55%;
    padding: 2rem;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
}
#main-fline {
    font-size: 6vw;
}
#main-sline {
    font-size: 2vw;
}
#my-img{
    width: 35%;
    display: flex;
    justify-content: center;
}

#my-img img{
    width: 100%;
    border-radius: 50%;
    border: 3px solid crimson;
}
/* education */
#edu-title {
    padding: 2rem;
    border-radius: 25px;
    margin: 2rem 4%;
    border: 1px solid black;
}
#edu-list {
    padding: 2rem;
    border-radius: 25px;
    margin: 2rem 4%;
}
/* projects */

.project {
    background-image: linear-gradient(to left, #026c85, #26A69A, #ee82ee);
    /* background-color: #26A69A;     */
    padding: 2rem;
    border-radius: 25px;
    margin: 2rem 4%;
    display: flex;
    border: #26A69A 1px solid;
}

.p-img img {
    width: 32rem;
    height: 20rem;
    border-radius: 1rem;
    border: 10px solid #ffffff;
}

.p-info {
    width: 100%;
    padding: 1rem 3rem;
}

.p-title {
    font-size: 3rem;
    height: 20%;
}

.p-desc {
    font-size: 1.4rem;
    height: 60%;
    display: flex;
    align-items: center;
    padding: 5px 0;
}

.p-link a {
    height: 20%;
    font-size: 2rem;
    color: #800080;
    text-decoration: none;
}

#p-more a {
    font-size: 1.5rem;
    color: #800080;
    text-decoration: none;
}

#contact-border {
    padding: 2rem;
    margin: 2rem 4%;
    border-radius: 25px;
    background-image: linear-gradient(to right, #026c85, #26A69A, #ee82ee);
}

#contact {
    padding: 1rem;
    /* color: white; */
    border-image-slice: 1;
    border-radius: 20px;
    background-color: #cfffff;
}
#contact h1 {
    margin-bottom: 1vh;
}
#contact h3 {
    color: #000000ba;
}

.social-links {
    list-style-type: none;
    display: flex;
    justify-content: center;
    padding-top: 1rem;
}

.social-links li a {
    margin: 0.5rem;
    text-decoration: none;
    font-size: 1.2rem;
    color: #551a8b;
}
.social-links a:active{
    color: #ff0000;
}


/* footer  */
footer {
    display: flex;
    height: 5rem;
    /* background-color: rgb(2 108 133); */
    background-color: #000;
    align-items: center;
    justify-content: center;
    padding: 0px 1rem;
    border-radius: 4rem;
    margin: 2rem 4% 1rem 4%;
    color: #fff;
}



/* Animations  */
.project:hover {
    .p-img img , .p-info{
        animation: visible 3s;
    }
}


@keyframes visible {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}


